.fabric
.mixin.out
coremods
crash-reports
data
logs
modernfix
mru
patchouli_books
resourcepacks
saves
schematics
screenshots
server-resource-packs
shaderpacks
texturepacks
fabricloader.log
icon.png
patchouli_data.json
usercache.json
usernamecache.json
xaero
XaeroWaypoints_BACKUP240807
automodpack
